@import "tailwindcss";

@font-face {
  font-family: 'pricedown';
  src: url("/fonts/pricedown.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("/fonts/HELVETICA.TTF") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,body{
  width: 100%;
  height: 100%;
  font-family: 'pricedown';
  background-color: black;
}
