@import "tailwindcss";

@font-face {
  font-family: 'pricedown';
  src: url("./pricedown.otf");
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url("./HELVETICA.TTF");
}

html,body{
  width: 100%;
  height: 100%;
  font-family: 'pricedown';
  background-color: black;
}
